<html>
    <div class="container p-2 text-center">
        <div class="row"> 
            <div class="col-md-12">
                <h1>Home Page</h1>
            </div>
        </div>
        <a class="btn btn-primary" href="/posts" role="button">Check Posts</a>
    </div>
</html>